#city-form {
    margin: 25%;
}

#search-result {
    list-style-type: none;
    
    overflow: overlay;
    height: 195px;
}

.city-wrap {
    padding-right: 5px;
}

a.city-name {
    all: unset;
}

a.city-name:hover {
    color:#0FA0CE;
}

/* Media */

@media (max-width: 800px) {
    #city-form {
        margin: 25% 20%;
    }
}

@media (max-width: 600px) {
    #city-form {
        margin: 25% 15%;
    }
}
