#city-form {
    margin: 25%;
}

#search-result {
    list-style-type: none;
    
    overflow: overlay;
    height: 195px;
}

.city-wrap {
    padding-right: 5px;
}

a.city-name {
    all: unset;
}

a.city-name:hover {
    color:#0FA0CE;
    cursor: pointer;
}

/* Media */

@media (max-width: 800px) {
    #city-form {
        margin: 25% 20%;
    }
}

@media (max-width: 600px) {
    #city-form {
        margin: 25% 15%;
    }
}


/* loader */
.loader {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background: #fff;
    
    text-align: center;
}

.loader img {
    width: 50px;
}